<div class="blog-post">

  <h2 class="blog-post-title">
    <%= link_to blog.title, blog %>
  </h2>
  <p class="blog-topic">
    Topic:
    <%= link_to blog.topic.title, blog.topic %>

  </p>
  <p class="blog-post-meta">Published
    <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago</p>

  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>

  </p>

  <% link_text = "...more (#{blog.body.split.size} words, #{blog.body.squeeze('.!?').count('.!?')} sentences)" %>
  <p>
    <%= (markdown blog.body).truncate_words(40, omission: "<span class='smaller-text'>#{link_to link_text, blog}</span>").html_safe %>
  </p>

</div><!-- /.blog-post -->




<!-- 
<tr>
  <td>
    <%= blog.title.upcase %>
  </td>
  <td>Published
    <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago</td>
  <td>
    <%= blog.body %>
  </td>
  <td>
    <%= link_to blog.status, toggle_status_blog_path(blog) if logged_in?(:site_admin) %>
  </td>
  <td>
    <%= link_to 'Show', blog %>
  </td>
  <td>
    <%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %>
  </td>
  <td>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin) %>
  </td>
</tr> -->