<!-- <p id="notice"><%#= notice %></p> -->


<!-- <p id="notice">
  <%= notice %>
</p> -->

<div class="col-sm-8 blog-main">

  <h2>
    <%= @blog.title %>
  </h2>
  <p class="blog-topic">
    Topic:
    <%= @blog.topic.title %>
  </p>

  <p class="blog-post-meta">Published
    <%= distance_of_time_in_words(@blog.created_at, Time.now)%> ago
    <% if @blog.created_at != @blog.updated_at %>
    (updated
    <%= distance_of_time_in_words(@blog.updated_at, Time.now)%> ago)
    <% end %>
  </p>
  <% if logged_in?(:site_admin) %>
  <p class="blog-post-meta">Status:
    <%= link_to @blog.status, toggle_status_blog_path(@blog) %> /
    <%= link_to 'Edit', edit_blog_path(@blog) %> /
    <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }  %>
  </p>
  <% end %>

  <%#= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p>
    <%#= @blog.body %>
    <%= markdown @blog.body %>

  </p>

  <!-- start of comment form, for logged-in users only -->

  <%= render 'comments/comment_form' %>
  <!-- end comment form -->

  <!-- start of existing comments show -->
  <!-- will look for partial called _comments by default, in the comments views folder (actually, anywhere in views folders) -->
  <div id="comments" data-blog-id="<%=@blog.id%>">
    <%= render @blog.comments.order('created_at DESC') %>
  </div>
  <!-- end of comments show -->

</div><!-- /.blog-main -->

<!-- <%#= link_to 'Back', blogs_path %> -->