<!-- <p id="notice"><%#= notice %></p> -->


<!-- <p id="notice">
  <%= notice %>
</p> -->

<div class="col-sm-8 blog-main">

  <h2>
    <%= @blog.title %>
  </h2>
  <p class="blog-topic">
    <!-- Topic: -->
    <%#= @blog.topic.title %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <!-- <a href="#">Home</a> -->
          <%= link_to 'home', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'blogs', blogs_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to @blog.topic.title, topic_path(@blog.topic) %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= @blog.title %>
        </li>
      </ol>
    </nav>
  </p>

  <p class="blog-post-meta">Published
    <%= distance_of_time_in_words(@blog.created_at, Time.now)%> ago
    <% if @blog.created_at != @blog.updated_at %>
    (updated
    <%= distance_of_time_in_words(@blog.updated_at, Time.now)%> ago)
    <% end %>
    <% if logged_in?(:site_admin) %>
    <span class="float-right">
      <%= render partial: 'blogs/admin_actions', locals: {blog: @blog } %>
    </span>
    <% end %>

  </p>
  <!-- <p class="blog-post-meta">Status:
    /
  </p> -->

  <%#= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p>
    <%#= @blog.body %>
    <%= markdown @blog.body %>

  </p>

  <!-- start of comment form, for logged-in users only -->

  <%= render 'comments/comment_form' %>
  <!-- end comment form -->

  <!-- start of existing comments show -->
  <!-- will look for partial called _comments by default, in the comments views folder (actually, anywhere in views folders) -->
  <div id="comments" data-blog-id="<%=@blog.id%>">
    <%= render @blog.comments.order('created_at DESC') %>
  </div>
  <!-- end of comments show -->

</div><!-- /.blog-main -->

<!-- <%#= link_to 'Back', blogs_path %> -->