<!-- <p id="notice"><%#= notice %></p> -->


<!-- <p id="notice">
  <%= notice %>
</p> -->

<div class="col-sm-8 blog-main">

  <h2>
    <%= @blog.title %>
  </h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p>
    <%= @blog.body %>

  </p>

  <!-- start of comment form, for logged-in users only -->

  <%= render 'comments/comment_form' %>
  <!-- end comment form -->

  <!-- start of existing comments show -->
  <!-- will look for partial called _comments by default, in the comments views folder (actually, anywhere in views folders) -->
  <%= render @blog.comments %>
  <!-- end of comments show -->

</div><!-- /.blog-main -->

<!-- <%#= link_to 'Back', blogs_path %> -->