<p id="notice">
  <%= notice %>
</p>

<h1>Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Institution</th>
      <th>Year obtained</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
    <tr>
      <td>
        <%= qualification.title %>
      </td>
      <td>
        <%= qualification.institution %>
      </td>
      <td>
        <%= qualification.year_obtained %>
      </td>
      <td>
        <%= qualification.description %>
      </td>
      <td>
        <%= link_to 'Show', qualification %>
      </td>
      <td>
        <%= link_to 'Edit', edit_qualification_path(qualification) %>
      </td>
      <td>
        <%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_qualification_path %>