<!-- start sidebar -->
<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module">
        <h4>About</h4>
        <p>coming soon</p>
    </div> -->

    <div class="sidebar-module sidebar-module-inset">
        <h4>Blog topics</h4>
        <% @sidebar_topics.each do |topic| %>
        <div class="sidebar-topic-link">
            <%= link_to topic.title, topic_path(topic) %>
        </div>
        <% end %>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled social-links">
            <li><a href="//github.com/ptorrsmith" target="_blank">
                    <%= fa_stacked_icon "github" %>
                </a></li>
            <%#= content_tag(:li, fa_stacked_icon("check li", text: "Check baby, check!")) %>
            <li><a href="//facebook.com/ptorrsmith" target="_blank">
                    <%= fa_stacked_icon "facebook" %>
                </a></li>
            <li><a href="//twitter.com/ptorrsmith" target="_blank">
                    <%= fa_stacked_icon "twitter" %>
                </a></li>
            <li><a href="//www.linkedin.com/in/ptorrsmith/" target="_blank">
                    <%= fa_stacked_icon "linkedin" %>
                </a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
<!-- end sidebar -->