<div class="app-card-container">
    <div class="card">

        <h1>About Me</h1>
        <hr>

        <div class="row">
            <div class="col-md-4 mb-4">

                <!-- image -->
                <!-- <img src="/assets/Peter_20190121_202047.jpg" width="300"> -->

                <%= image_tag 'Peter_20190121_202047.jpg', width: '100%', alt: "Peter Torr Smith, a laugh on the beach :-)" %>
                <div class="skills">
                    <% @skills.each do |skill| %>
                    <div class="card skill">
                        <h5>
                            <%= skill.title %>
                        </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="<%= skill.skill_level %>"
                                aria-valuemax="100" style="width: <%= skill.skill_level * 10 %>%;" title="<%=skill.skill_level%> out of 10">
                            </div>
                        </div>

                    </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-8">

                <p>I've been living in Wellington since 1993 and for much of that time have worked in IT delivery for private-sector, Government and start-up businesses in technical and management/support roles. </p>

                <p>Recently I've had the privilege of being part of the <a href="https://resn.co.nz">Resn</a> team as one of their Technical Directors. Here I've helped scope out and investigate technical approaches for a number of digital projects in the pipeline, and to help make <a href="https://goodmeat.co">GOOD Meat launch experience</a> a reality :-)</p>

                <p>My focus for much of 2019 and 2020 has been a number of upgrades for <a href="http://www.hirethings.com" target="_blank">HireThings.com / .co.nz / com.au</a> towards a more appropriate style and focus required of a modern useful online service. This included upgrading from Ruby on Rails 2 to 5, re-architecting the application and shifting onto Amazon Web Services, enabling continuous deployments, and giving the service a full mobile-first refresh based on the Bootstrap framework. I've also mentored a couple of younger developers during that journey.</p>

                <p>Prior to that I worked several years with the Ministry of Social Development on IT business projects & programmes for a wide range of business services and applications. These have been mainly web applications and the shift to mobile-first web.</p>

                <p>To refresh and modernize my technical skills and prepare for the upgrade work on Hire Things, I did the excellent <%= link_to 'Enspiral Dev Academy Bootcamp', 'https://devacademy.co.nz/', target: "_blank" %> over the last quarter of 2018. Here with a great bunch of students and coaches we were immersed in a world of Javascript, frameworks, modern web app development with React, and team challenges. The EDA <%= link_to 'Graduation Letter', '/docs/Graduation certificate for Peter Torr Smith.pdf', target: "_blank" %> covers it quite well</p>

                <p>I then spent several weeks <a class="" data-toggle="collapse" href="#certificate" aria-expanded="false" aria-controls="certificate">completing</a> this fantasic and challenging <%= link_to 'Rails 5 Professional Udemy course', 'https://www.udemy.com/professional-rails-5-development-course/', target: '_blank' %>. It was very detailed, and the result of my efforts was this website, <%= link_to 'ptorrsmith.com', 'http://www.ptorrsmith.com' %>, built from scratch with Rails 5 (I've since upgraded this to Rails 6).
                    <%#= link_to 'a certificate', course_completion_path %>
                    <%#= link_to 'this certificate', '#',  data-toggle: "collapse", data-target: "#certificate" %>
                    <!-- Collapse can have button or link options. Button uses  data-target="#certificate", whilst link uses  href="#certificate"  -->
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#certificate"
                        aria-expanded="false" aria-controls="certificate">this certificate</button> -->

                    <div class="collapse" id="certificate">
                        <div class="card card-block">
                            <%= link_to (image_tag '/images/UdemyDissectingRails5_CompletionCertificate.jpg', width: '100%', alt: "Certificate for Completing Udemy Dissecting Rails 5 Professional course", title: "Certificate for Completing Udemy Dissecting Rails 5 Professional course"), course_completion_path %>
                            <%#= image_tag 'UdemyDissectingRails5_CompletionCertificate.jpg', width: '100%', alt: "Certificate for Completing Udemy Dissecting Rails 5 Professional course", title: "Certificate for Completing Udemy Dissecting Rails 5 Professional course" %>
                        </div>
                    </div>

                </p>

                <p>
                    With the intended upgrade and refresh work completed, I'm keen to take on some new challenges with some great people, and help make things better :-)
                </p>

                <p>I enjoy business, technology, governance, finance & economics, food and fermentation, swimming, yoga, art, living in Aro Valley, my friends and family</p>
                <p>I love helping others learn new things, as well as digging in and helping make a product, business, team, technology or process work.</p>

                <p class='text-center'>
                    <% if @roles.count > 0 %>
                    <button class="btn btn-primary collapsed shadow mb-2" type="button" data-toggle="collapse" data-target="#jobHistory"
                        aria-expanded="false" aria-controls="jobHistory">Work History and roles</button>
                    <% end %>
                    <% if @qualificaitons.count > 0 %>
                    <button class="btn btn-success collapsed shadow mb-2" type="button" data-toggle="collapse" data-target="#qualifications"
                        aria-expanded="false" aria-controls="qualifications">Qualifications</button>
                    <% end %>
                    <%= link_to (fa_icon "external-link-square", text: "Download Profile/CV", right: true), '/docs/Peter Torr Smith - Profile 2021.pdf', target: '_blank', class: 'btn btn-info text-white shadow mb-2' %>

                </p>

                <div id="accordion">
                    <div class="collapse" id="jobHistory" data-parent="#accordion">
                        <% @roles.each do |role| %>
                        <div class="card card-block role-card">
                            <h5>
                                <%= role.organisation %>
                            </h5>
                            <h6>
                                <%= role.roles %>
                            </h6>
                            <p>From:
                                <%= role.from.year %>. To:
                                <%= role.current? ? 'current': "#{role.to.year}" %>.
                                <%#=role.to? role.to.year : 'current' %>
                            </p>
                            <p>
                                <%=role.description %>
                            </p>
                        </div>
                        <% end %>
                    </div>
                    <div class="collapse" id="qualifications" data-parent="#accordion">
                        <% @qualificaitons.each do |qual| %>
                        <div class="card card-block qualification-card">
                            <h5>
                                <%= qual.title %>
                                <%= "(#{qual.year_obtained})"%>
                            </h5>
                            <h6>
                                <%= qual.institution %>
                            </h6>
                            <p>
                                <%=qual.description %>
                            </p>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>