<div class="app-card-container">
    <div class="card">

        <h1>About Me</h1>
        <hr>

        <div class="row">
            <div class="col-md-4 mb-4">

                <!-- image -->
                <!-- <img src="/assets/Peter_20190121_202047.jpg" width="300"> -->

                <%= image_tag 'Peter_20190121_202047.jpg', width: '100%', alt: "Peter Torr Smith, a laugh on the beach :-)" %>
                <div class="skills">
                    <% @skills.each do |skill| %>
                    <div class="card skill">
                        <h5>
                            <%= skill.title %>
                        </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="<%= skill.skill_level %>"
                                aria-valuemax="100" style="width: <%= skill.skill_level * 10 %>%;" title="<%=skill.skill_level%> out of 10">
                            </div>
                        </div>

                    </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-8">
                <p>I've been living in Wellington since 1993 and for much of that time have worked in IT delivery for private-sector, Government and start-up businesses in technical, analytical and team management roles. </p>

                <%= render partial: 'shared/roles_quals_cv' %>

                <p>Currently I'm a senior engineer with <%= link_to 'AskYourTeam', 'https://askyourteam.com/', target: "_blank" %> in their Wellington team enhancing their Ruby on Rails and React enterprise survey platform. This is hosted with AWS and fully managed with Cloud Formation templates. I have led several new features including implementing a full organisation hiearchy/structure management facility and pair-building the automation of user permissions automatically derived from this structure.  I have implemented, and migrated, many aspects of the application functionality to asynchronous / background job processing, initially using <%= link_to 'Delayed Job', 'https://github.com/collectiveidea/delayed_job', target: "_blank" %>, but recently we migrated everying over to <%= link_to 'Good Job', 'https://github.com/bensheldon/good_job', target: "_blank" %>.  Most recently I have led the design and implementation of a number of integrations with Hubspot using their Private Apps APIs so the sales and customer support team were alway up to date with what our customers (accounts and users) are doing with the platform.</p>

                <p>I'm currently working towards my AWS Certified Cloud Developer Associate exam, assisted by this Udemy course:  <%= link_to 'Ultimate AWS Certified Developer Associate 2023 NEW DVA-C02', 'https://www.udemy.com/course/aws-certified-developer-associate-dva-c01/', target: '_blank' %>.</p>

                <p>Prior to that I was contracting to <%= link_to 'Culture Amp', 'https://cultureamp.com/', target: "_blank" %> as a senior engineer for their 'Performance' product.  For much of this I was primarily focused on back-end performance and enhancements: APIs, DB query optimization, asynchronous job processing, and code restructuring to support domain isolation, laying the foundations for extracting domains out from the Ruby on Rails monolith.</p>

                <p>In late 2020 I had the privilege of doing a short contract with the <a href="https://resn.co.nz" target="_blank">Resn Digital</a> team as one of their Technical Directors. Here I've helped scope out and investigate technical approaches for a number of digital projects in the pipeline, and to help make the <a href="https://goodmeat.co" target="_blank">GOOD Meat launch experience</a> a reality :-) (this site we made is no longer publically available as it was only for their initial launch)</p>

                <p>2019/2020 I did a number of upgrades for <a href="http://www.hirethings.com" target="_blank">HireThings.com / .co.nz / com.au</a> towards a more appropriate style and focus required of a modern useful online service. This included upgrading from Ruby on Rails 2 to 5, re-architecting the application and shifting onto Amazon Web Services, enabling continuous deployments, and giving the service a full mobile-first refresh based on the Bootstrap framework. I've also mentored a couple of younger developers during that journey.</p>

                <p>2011 - 2018 I worked with the Ministry of Social Development on IT business projects & programmes for a wide range of business services and applications. These have been mainly web applications and the shift to mobile-first web.</p>

                <p>To refresh and modernize my technical skills and prepare for the upgrade work on Hire Things, I did the excellent <%= link_to 'Enspiral Dev Academy Bootcamp', 'https://devacademy.co.nz/', target: "_blank" %> over the last quarter of 2018. Here with a great bunch of students and coaches we were immersed in a world of Javascript, frameworks, modern web app development with React, and team challenges. The EDA <%= link_to 'Graduation Letter', '/docs/Graduation certificate for Peter Torr Smith.pdf', target: "_blank" %> covers it quite well</p>

                <p>I then spent several weeks <a class="" data-toggle="collapse" href="#certificate" aria-expanded="false" aria-controls="certificate">completing</a> this fantasic and challenging <%= link_to 'Rails Professional Udemy course', 'https://www.udemy.com/professional-rails-5-development-course/', target: '_blank' %>. It was very detailed, and the result of my efforts was this website (hosted on Heroku), <%= link_to 'ptorrsmith.com', 'http://www.ptorrsmith.com' %>, built from scratch with Rails 5 (I've since upgraded this to Rails 6).
                    <%#= link_to 'a certificate', course_completion_path %>
                    <%#= link_to 'this certificate', '#',  data-toggle: "collapse", data-target: "#certificate" %>
                    <!-- Collapse can have button or link options. Button uses  data-target="#certificate", whilst link uses  href="#certificate"  -->
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#certificate"
                        aria-expanded="false" aria-controls="certificate">this certificate</button> -->

                    <div class="collapse" id="certificate">
                        <div class="card card-block">
                            <%= link_to (image_tag '/images/UdemyDissectingRails5_CompletionCertificate.jpg', width: '100%', alt: "Certificate for Completing Udemy Dissecting Rails 5 Professional course", title: "Certificate for Completing Udemy Dissecting Rails 5 Professional course"), course_completion_path %>
                            <%#= image_tag 'UdemyDissectingRails5_CompletionCertificate.jpg', width: '100%', alt: "Certificate for Completing Udemy Dissecting Rails 5 Professional course", title: "Certificate for Completing Udemy Dissecting Rails 5 Professional course" %>
                        </div>
                    </div>
                </p>

                <p>I enjoy business, technology, governance, finance & economics, food and fermentation, swimming, yoga, art, living in Aro Valley, my friends and family</p>
                <p>I love helping others learn new things, as well as digging in and helping make a product, business, team, technology or process work.</p>
            </div>
        </div>
    </div>
</div>
