<div class="app-card-container">
    <div class="card">

        <h1>About Me</h1>
        <hr>

        <div class="row">
            <div class="col-md-4">

                <!-- image -->
                <!-- <img src="/assets/Peter_20190121_202047.jpg" width="300"> -->

                <%= image_tag 'Peter_20190121_202047.jpg', width: '100%', alt: "Peter Torr Smith, a laugh on the beach :-)" %>
                <div class="skills">
                    <% @skills.each do |skill| %>
                    <div class="card skill">
                        <h5>
                            <%= skill.title %>
                        </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="<%= skill.skill_level %>"
                                aria-valuemax="100" style="width: <%= skill.skill_level * 10 %>%;" title="<%=skill.skill_level%> out of 10">
                            </div>
                        </div>

                    </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-8">

                <p>I've been living in Wellington since 1993 and in that time have worked in IT delivery for
                    private-sector, Government and
                    start-up
                    businesses in
                    many different roles. Prior to moving to Wellington I worked in Television and video primarily as a
                    video editor.</p>
                <p>I've recently finished several years working with the Ministry of Social Development working on IT
                    business
                    projects, programmes
                    and portfolios for a wide range of business services and applications. These have been mainly web
                    applications
                    and, for the last few years, mobile web.</p>
                <p>I had a great time doing the
                    <%= link_to 'Enspiral Dev Academy Bootcamp', 'https://devacademy.co.nz/', target: "_blank" %>
                    'Hihi' at
                    the
                    end of 2018,
                    being immersed in a
                    world of Javascript and modern and robust web app development.</p>
                <p> I'm now using that
                    knowledge, skills and awareness to explore new online business ventures and opportunities.</p>
                <p>My current focus is upgrading <a href="http://www.hirethings.com" target="_blank">HireThings.com /
                        .co.nz / com.au</a>
                    to a
                    more appropriate
                    style and
                    focus required of a modern useful online service</p>
                <p>I love business, technology, governance, finance, food and fermentation, swimming, art, living in
                    Aro
                    Valley, my friends, and
                    spending time with my partner on our various projects and adventures :-)</p>
                <p>I enjoy getting in and helping make a business, team, technology and process work, and I like being
                    part
                    of
                    that
                    business. I'd love to explore business opportunities with you and see what great things we can make
                    happen</p>

                <p>
                    <% if @roles.count > 0 %>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jobHistory"
                        aria-expanded="false" aria-controls="jobHistory">Work History and roles</button>
                    <% end %>
                    <% if @qualificaitons.count > 0 %>
                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#qualifications"
                        aria-expanded="false" aria-controls="qualifications">Qualifications</button>
                    <% end %>
                </p>
                <div class="collapse" id="jobHistory">
                    <% @roles.each do |role| %>
                    <div class="card card-block role-card">
                        <h5>
                            <%= role.organisation %>
                        </h5>
                        <h6>
                            <%= role.roles %>
                        </h6>
                        <p>From:
                            <%= role.from.year %>. To:
                            <%= role.current? ? 'current': "#{role.to.year}" %>.
                            <%#=role.to? role.to.year : 'current' %>
                        </p>
                        <p>
                            <%=role.description %>
                        </p>
                    </div>
                    <% end %>
                </div>
                <div class="collapse" id="qualifications">
                    <% @qualificaitons.each do |qual| %>
                    <div class="card card-block qualification-card">
                        <h5>
                            <%= qual.title %>
                            <%= "(#{qual.year_obtained})"%>
                        </h5>
                        <h6>
                            <%= qual.institution %>
                        </h6>
                        <p>
                            <%=qual.description %>
                        </p>
                    </div>
                    <% end %>


                </div>
            </div>
        </div>
    </div>
</div>