<h1>Contact Us</h1>
<p><%= number_to_phone '+6421451967' %></p>
<p><%= number_to_currency 45.55 %>
<p><%= number_to_currency "3345342.53234" %>

<p><%= number_to_percentage 5.3 %>

<p><%= number_with_delimiter 32414243.124 %>




