<%= form_with(model: role, local: true) do |form| %>
<% if role.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

  <ul>
    <% role.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :organisation %>
  <%= form.text_field :organisation %>
</div>

<div class="field">
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>

<div class="field">
  <%= form.label :from %>
  <%= form.date_select :from, start_year: 1980 %>
</div>

<div class="field">
  <%= form.label :to %>
  <%= form.date_select :to, start_year: 1980 %>
</div>

<div class="field">
  <%= form.label :current %>
  <%= form.check_box :current %>
</div>

<div class="field">
  <%= form.label :roles %>
  <%= form.text_area :roles %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="field">
  <%= form.label :highlights %>
  <%= form.text_area :highlights %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>