<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--TODO <link rel="icon" href="../../../../favicon.ico"> -->

  <title>
    <%= @page_title %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <!-- TODO Custom styles for this template -->
      <!-- <link href="cover.css" rel="stylesheet"> -->
   %>

</head>

<body class="text-center">
  <!-- <div class="site-wrapper">
    <div class="site-wraper-inner"> -->


  <p class="notice">
    <%#= notice %>
  </p>
  <p class="alert">
    <%#= alert %>
  </p>


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- background image -->
    <!-- <div id="background"></div> -->

    <%= video_tag(
      'pts_portfolio_bkgd_cover_vid_dark_sml4.mp4',
      id: 'background',
      autoplay: true,
      loop: true,
      # muted: true,
      poster: 'video_start.png'
    ) %>

    <%= render 'shared/application_nav'%>

    <!-- <hr /> -->

    <%= yield %>
    <%#= @copyright %>

    <%= render 'shared/application_footer' %>

    <%= source_helper %>

    <!-- as renders js, best render at end -->
    <%#= render 'shared/alerts' %>
    <%= alerts %>
  </div>
  <!-- </div>
  </div> -->

</body>

</html>