<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--TODO <link rel="icon" href="../../../../favicon.ico"> -->

  <title>
    <%= @page_title %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%# <!-- TODO Custom styles for this template -->
      <!-- <link href="cover.css" rel="stylesheet"> -->
   %>

</head>

<body>



  <%= render 'shared/blog_nav'%>

  <!-- start blog header -->
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">Blogs</h1>
      <p class="lead blog-description">What's going down :-)</p>
      <%= link_to 'Create a new Blog', new_blog_path if logged_in?(:site_admin) %>
      <%#= link_to "destroy", destroy_listing_path(listing) if logged_in?(:site_admin) %>
    </div>
  </div>
  <!-- end blog header -->
  <!-- 
  <p class="notice">
    <%#= notice %>
  </p>
  <p class="alert">
    <%#= alert %>
  </p>
 -->



  <!-- start of container and row elements -->
  <div class="container">

    <div class="row">

      <%= yield %>

      <%= render 'shared/blog_sidebar' %>
    </div>

    <!-- start blog footer -->
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- end blog footer -->

    <%#= @copyright %>

    <!-- <%#= render 'shared/nav', location: 'bottom' %> -->

    <%= source_helper 'blogs' %>

  </div>

</body>

</html>