<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- <link rel="icon" href="favicon.ico"> -->
  <%= favicon_link_tag asset_path('favicon-96x96.png') %>

  <title>
    <%= @page_title %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_link_tag    'blogs', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application' %>

  <%# <!-- TODO Custom styles for this template -->
      <!-- <link href="cover.css" rel="stylesheet"> -->
   %>

</head>

<body>



  <%= render 'shared/blog_nav'%>

  <%= render 'shared/blog_masthead' %>
  <!-- 
  <p class="notice">
    <%#= notice %>
  </p>
  <p class="alert">
    <%#= alert %>
  </p> -->




  <!-- start of container and row elements -->
  <div class="container">

    <div class="row">

      <%= yield %>

      <%= render 'shared/blog_sidebar' %>
    </div>

    <%= render 'shared/blog_footer' %>

    <%#= @copyright %>

    <!-- <%#= render 'shared/nav', location: 'bottom' %> -->

    <%= source_helper 'blogs' %>

    <%#= render 'shared/alerts' %>
    <%= alerts %>

  </div>

</body>

</html>